[Unit]
Description=Service for publishing XPON ONU G55 state to MQTT
Wants=network-online.target
After=network.target network-online.target multi-user.target mosquitto.service NetworkManager.service

[Service]
WorkingDirectory=/home/user/xpon_onu_g55_mqtt
Type=idle
ExecStart=/usr/bin/python3 /home/user/xpon_onu_g55_mqtt/mqtt.py
Restart=always

[Install]
WantedBy=multi-user.target
